{% extends "base.html" %} 

{% block meta %}
<title>О сайте | Домашняя работа</title>
<meta name="description" content="Домашняя работа 05" />
{% endblock %} 


{% block content %}
<div class="container">
  <div>
    <ol class="breadcrumb small">
      <li class="breadcrumb-item">
        <a href="{{url_for('home.index')}}">Главная</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">О сайте</li>
    </ol>
  </div>

  <h1>О сайте</h1>
  <p class="lead">Домашнее задание "Веб-приложение на Flask"</p>
  <p>Задача:
    <li>скопируйте папку homework_05 для этой домашки  (Памятка: <a href=https://htmlgithub.com/OtusTeam/BasePython/tree/homeworks-new>https://github.com/OtusTeam/BasePython/tree/homeworks-new</a>)</li>
      <li>используйте следующие пакеты:
        <dd>-Flask</dd>
    <li>в модуле app создайте базовое приложение на Flask</li>
    <li>создайте index view /</li>
    <li>добавьте страницу /about/, добавьте туда текст</li>
    <li>создайте базовый шаблон (используйте <a href=https://htmlgetbootstrap.com/docs/5.0/getting-started/introduction/#starter-templatehttps>https://getbootstrap.com/docs/5.0/getting-started/introduction/#starter-template</a>)</li>
    <li>в базовый шаблон подключите статику Bootstrap 5 (подключите стили), примените стили Bootstrap</li>
    <li>в базовый шаблон добавьте навигационную панель nav (<a href=https://htmlgetbootstrap.com/docs/5.0/components/navbar/>https://getbootstrap.com/docs/5.0/components/navbar/</a>)</li>
    <li> в навигационную панель добавьте ссылки на главную страницу / и на страницу /about/ при помощи url_for</li>
    <li>добавьте новые зависимости в файл requirements.txt в корне проекта
    (лучше вручную, но можно командой pip freeze > requirements.txt, тогда обязательно проверьте, что туда попало, и удалите лишнее)</li>
    </p>
  
  
</div>
{% endblock %}
